.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container 
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {

  .container {
    width: 1170px;
  }
}

body {
  padding-top: 35px;
   background-color: #FAF4FA;
}

.col-lg-12, footer {
  background-color: #F97DEC;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
  font-family: cursive;
  font-size:25px;
}

.col-lg-offset-12 {
  background-color: none;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}